body {
  font: 14px Arial;
  min-width: 320px;
}

a, a:active, a:focus {
  outline: none;
  color: #000;
  text-decoration: none;
  display: block;
}

a:hover {
  text-decoration: none;
}

h1 {
  text-align: center;
}