<div class="rig-move panel container-fluid" ng-show=ifTabSelected(1)>
  <header>
    <h1>Rig Move Calculator</h1>
    <div id="calculate" class="col-md-5 col-lg-4">
      <div class="input-group track-name">
        <span class="input-group-addon">Track name:</span>
        <input type="text" size="40" name="trackName"
               class="form-control track-name-input" placeholder="enter track name">
      </div>
      <div class="input-group projected-speed">
        <span class="input-group-addon">Projected speed:</span>
        <input type="text" size="4" name="projectedSpeed"
               class="form-control projected-speed-input" placeholder="">
        <span class="input-group-addon">[kn]</span>
      </div>
    </div>
  </header>

  <table class="table tableWPT">
    <thead>
    <tr>
      <th class="table-header" ng-repeat="tableHeader in WPTTableHeaders" scope="col">{{tableHeader}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="WPT in WPTS track by $index" ng-class="{gray:$even}">
      <td class="wpt-index-col">{{WPT.index}}</td>

      <td ng-show="!showForms">{{WPT.name}}</td>
      <td ng-show="showForms">
        <input class="edit-input" ng-model="WPT.name"/>
      </td>

      <td ng-show="!showForms">{{WPT.easting}}</td>
      <td ng-show="showForms">
        <input class="edit-input" ng-model="WPT.easting"/>
      </td>

      <td ng-show="!showForms">{{WPT.northing}}</td>
      <td ng-show="showForms">
        <input class="edit-input" ng-model="WPT.northing"/>
      </td>

      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="selected manipulation-col">
        <span ng-show="!showForms" class="glyphicon glyphicon-pencil clickable manipulation-icon"
              ng-click="showForms=true"></span>

        <span ng-show="!$first" ng-click="moveUp($index)"
              class="glyphicon glyphicon-arrow-up manipulation-icon"></span>
        <span ng-show="!$last" ng-click="moveDown($index)"
              class="glyphicon glyphicon-arrow-down manipulation-icon"></span>

        <span ng-show="showForms" showForms="false" class="glyphicon glyphicon-floppy-disk clickable"
              ng-click="saveChanges($index, WPT.name, WPT.easting, WPT.northing); showForms=false">
          <span class="icon-text"> SAVE</span>
        </span>
        <span ng-show="!showForms" class="glyphicon glyphicon-remove clickable manipulation-icon right"
              ng-click="removeRow($index)"></span>
      </td>
    </tr>
    </tbody>
  </table>
  <span ng-click="addNewWPT()" class="glyphicon glyphicon-plus clickable add-new-row-icon icon-text right"> ADD</span>
  <span class="clear"></span>
  <table id="canvasGroup">
    <tr>
      <td>
        <canvas id="canvas" width="600px" height="600px"></canvas>
        <label id="eastingFrameCanvas"></label>
        <label id="northingFrameCanvas"></label>
      </td>
      <td id="canvasEnlarge">
        <canvas id="canvasEnlarge1" width="400px" height="285px"></canvas>
        <canvas id="canvasEnlarge2" width="400px" height="285px"></canvas>
      </td>
    </tr>
  </table>

  <footer>
    <div class="btn-group col-xs-12 panel-footer">
      <div class="col-xs-12">
        <button type="button" class="btn btn-default btn-gray">Calculate</button>
        <button ng-click="clearTable()" type="button" class="btn btn-default btn-gray">Clear table</button>

        <button class="btn btn-default btn-gray import-export" ng-click="exportToJSON()" role="menuitem">Export as
          JSON
        </button>
        <button class="btn btn-default btn-gray import-export" ng-click="importFromJSON()" role="menuitem">Import JSON
        </button>
        <input class="btn btn-default btn-gray import-export" id="select-file" type="file" accept="application/json">
      </div>
    </div>

  </footer>
  <script src="js/calculate.js"></script>
  <script src="js/addNewRowInside.js"></script>
  <script src="js/drawing.js"></script>
  <script src="js/getCoordinates.js"></script>
</div>