.rig-move {
  margin-top: -30px;
  margin-bottom: 0;
}

.rig-move a {
  color: #FFF;
}

.invalid-input-data {
  background-color: #ffccb5;
}

.valid-input-data {
  background-color: #d2ffd4;
}

.rig-move a:hover {
  color: #373737
}

.btn-grey {
  background-color: #373737;
  color: #FFF;
  font-weight: bold;
  transition: all 500ms ease;
  margin-top: 10px;
}

.rig-move .btn-waypoint {
  width: 270px;
  position: relative;
  top: 10px;
}

.rig-move .grey {
  background-color: #F8F7FF;
}

.rig-move .wpt-index-col {
  width: 30px;
  text-align: center;
}

.rig-move .edit-input {
  width: 100px;
}

.rig-move .manipulation-col {
  width: 126px;
}

.rig-move .add-new-row-icon {
  margin-top: 20px;
}

.rig-move .icon-text {
  font-family: Arial;
  font-weight: bold;
}

.rig-move .table-header {
  font-size: 14px;
}

.rig-move .input-group {
  margin: 10px;
  width: 250px;
}

.rig-move .waypoint-data .input-group {
  margin: 10px 0;
}

.rig-move .waypoint-data {
  margin-top: 20px;
  width: 300px;
}

.rig-move .table.tableWPT {
  width: 100%;
}

.rig-move .manipulation-icon {
  margin-left: 4px;
}

.rig-move #canvasGroup {
  margin-top: 20px;
  margin-bottom: 70px;
}

.rig-move .canvas {
  border: 2px solid gray;
  background-color: #F8F7FF;
}
