.btn-gray {
  background-color: #373737;
  color: #FFF;
  font-weight: bold;
  transition: all 500ms ease;
  margin-top: 10px;
}

.btn-waypoint {
  width: 270px;
  position: relative;
  top: 10px;
}

#calculate .input-group {
  margin: 10px;
}

.waypoint-data .input-group {
  margin: 10px 0;
}

.waypoint-data {
  margin-top: 20px;
  width: 300px;
}

.table.tableWPT {
  width: 100%;
}

.input-group.projected-speed {
  width: 250px;
}

.input-group.track-name {
  width: 250px;
}

#canvas {
  border: 2px solid gray;
  border-radius: 10px;
  margin-left: 1%;
  margin-top: 20px;
  background-color: #F8F7FF;
}

#canvasEnlarge1 {
  border: 2px solid gray;
  border-radius: 10px;
  margin-left: 10%;
  margin-top: 20px;
  display: block;
  background-color: #F8F7FF;
}

#canvasEnlarge2 {
  border: 2px solid gray;
  border-radius: 10px;
  margin-left: 10%;
  margin-top: 20px;
  display: block;
  background-color: #F8F7FF;
}

.rig-move .panel-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0;
  width: 100%;
  z-index: 9;
  min-height: 60px;
}

.rig-move .import-export {
  float: right;
}
