a {
  color: #FFF;
}

a:hover {
  color: #373737
}

.btn-gray {
  background-color: #373737;
  color: #FFF;
  font-weight: bold;
  transition: all 500ms ease;
  margin-top: 10px;
}

.btn-waypoint {
  width: 270px;
  position: relative;
  top: 10px;
}

.gray {
  background-color: #F8F7FF;
}

.wpt-index-col {
  width: 30px;
  text-align: center;
}

.edit-input {
  width: 100px;
}

.manipulation-col {
  width: 126px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.add-new-row-icon {
  margin-top: 20px;
}

.icon-text {
  font-family: Arial;
  font-weight: bold;
}

.table-header {
  font-size: 14px;
}
#calculate .input-group {
  margin: 10px;
}

.waypoint-data .input-group {
  margin: 10px 0;
}

.waypoint-data {
  margin-top: 20px;
  width: 300px;
}

.table.tableWPT {
  width: 100%;
}

.clickable:hover {
  cursor: hand;
  cursor: pointer;
}

.manipulation-icon {
  margin-left: 4px;
}

.input-group.projected-speed {
  width: 250px;
}

.input-group.track-name {
  width: 250px;
}

#canvasGroup {
  margin-top: 20px;
  margin-bottom: 70px;
}

.canvas {
  border: 2px solid gray;
  background-color: #F8F7FF;
}

.rig-move .panel-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0;
  width: 100%;
  z-index: 9;
  min-height: 60px;
}

.rig-move {
  margin-top: -30px;
  margin-bottom: 0;
}

.rig-move .import-export {
  float: right;
}

.panel-footer {
  border-top: solid 2px gray;
}