<div class="panel container-fluid" ng-show=ifTabSelected(1)>
  <header>
    <h1>Rig Move Calculator</h1>
    <div id="calculate" class="col-md-5 col-lg-4">
      <div class="input-group track-name">
        <span class="input-group-addon">Track name:</span>
        <input type="text" size="40" name="trackName"
               class="form-control" placeholder="enter track name">
      </div>
      <div class="input-group projected-speed">
        <span class="input-group-addon">Projected speed:</span>
        <input type="text" size="4" name="projectedSpeed"
               class="form-control" placeholder="">
        <span class="input-group-addon">[kn]</span>
      </div>
    </div>
    <div class="waypoint-data col-sm-push-2 col-sm-5 col-lg-push-4">
      <button type="button" class="btn btn-default btn-gray btn-waypoint"
              ng-click="isCollapsedWaypoint = !isCollapsedWaypoint">Waypoint data
      </button>
      <div uib-collapse="isCollapsedWaypoint">
        <div class="well well-md">
          <div class="input-group name-WPT">
            <span class="input-group-addon">Name: &nbsp &nbsp</span>
            <input ng-model="nameWPT" type="text" size="40" name="nameWPT"
                   class="form-control" placeholder="">
          </div>
          <div class="input-group WPT-easting">
            <span class="input-group-addon">Easting: &nbsp</span>
            <input ng-model="WPTEasting" type="text" size="40" name="WPTEasting"
                   class="form-control" placeholder="">
            <span class="input-group-addon">[m]</span>
          </div>
          <div class="input-group WPT-northing">
            <span class="input-group-addon">Northing:</span>
            <input ng-model="WPTNorthing" type="text" size="40" name="WPTNorthing"
                   class="form-control" placeholder="">
            <span class="input-group-addon">[m]</span>
          </div>
          <button ng-click = "addNewWPT(nameWPT,WPTEasting,WPTNorthing)" name="add-new-WPT" type="button"
                  class="btn btn-default btn-gray">Add new WPT
          </button>
          <button name="insert-WPT" type="button"
                  class="btn btn-default btn-gray">Insert after selected row
          </button>
          <button name="read-WPT" type="button"
                  class="btn btn-default btn-gray">Read selected row
          </button>
          <button name="update-WPT" type="button"
                  class="btn btn-default btn-gray">Update selected row
          </button>
        </div>
      </div>
    </div>
  </header>

  <table class="table tableWPT">
    <thead>
    <tr>
      <th ng-repeat="tableHeader in WPTTableHeaders" class="col-xs-1" scope="col">{{tableHeader}}</th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="WPT in WPTS">
        <td>{{WPT.index}}</td>
        <td>{{WPT.name}}</td>
        <td>{{WPT.easting}}</td>
        <td>{{WPT.northing}}</td>
      </tr>
    </tbody>
  </table>

  <div class="btn-group col-xs-12" uib-dropdown>
    <button id="btn-append-to-single-button" type="button" class="btn btn-default btn-gray" uib-dropdown-toggle>
      Import / Export <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
      <li role="menuitem"><a href="#">Import JSON</a></li>
      <li role="menuitem"><a href="#">Export as JSON</a></li>
    </ul>
    <button id="bCalculate" name="bCalculate" type="button" class="btn btn-default btn-gray">Calculate</button>
    <button id="bRemoveRow" name="bRemoveRow" type="button" class="btn btn-default btn-gray">Remove selected row
    </button>
    <button id="bClearTable" name="bClearTable" type="button" class="btn btn-default btn-gray">Clear table</button>
  </div>

    <table id="canvasGroup">
      <tr>
        <td>
          <canvas id="canvas" width="600px" height="600px"></canvas>
          <label id="eastingFrameCanvas"></label>
          <label id="northingFrameCanvas"></label>
        </td>
        <td id="canvasEnlarge">
          <canvas id="canvasEnlarge1" width="400px" height="285px"></canvas>
          <canvas id="canvasEnlarge2" width="400px" height="285px"></canvas>
        </td>
      </tr>
    </table>
    <script src="js/calculate.js"></script>
    <script src="js/addRow.js"></script>
    <script src="js/doCSV.js"></script>
    <script src="js/loadFromCSV.js"></script>
    <script src="js/clearTable.js"></script>
    <script src="js/removeSelectedRow.js"></script>
    <script src="js/addNewRowInside.js"></script>
    <script src="js/drawing.js"></script>
    <script src="js/updateRow.js"></script>
    <script src="js/colorCodeTable.js"></script>
    <script src="js/getCoordinates.js"></script>
    <script src="js/resize.js"></script>
    <script src="js/readWPT.js"></script>
  </div>