<div class="content rig-move panel container-fluid">
  <header>
    <h1>Rig Move Calculator</h1>
    <div class="col-md-4 col-lg-3">
      <input-element class-name="track-name" span-text="Track name:" input-name="trackName" input-class="track-name-input"
                     placeholder="enter track name" pattern=""></input-element>
      <input-element-units class-name="projected-speed" span-text="Projected speed:" input-name="projectedSpeed"
        input-id="speed" input-class="projected-speed-input" init-value="0.25" pattern="/^[0-9]{1}[.][0-9]{2}/"
        units="[kn]"></input-element-units>
      <div id="speed-slider"></div>
    </div>
  </header>

  <table class="table tableWPT">
    <thead>
    <tr>
      <th class="table-header" ng-repeat="tableHeader in WPTTableHeaders" scope="col">{{tableHeader}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="WPT in WPTS track by $index" ng-class="{grey:$even, selectedRow:WPT.index===selectedRow}"
        ng-click="showSelectedWPT(WPT.index)">
      <td class="wpt-index-col">{{WPT.index}}</td>

      <td ng-show="!showForms">{{WPT.name}}</td>
      <td ng-show="showForms">
        <input class="edit-input" ng-model="WPT.name"
               required
               ng-pattern="/^[^<>]*$/"
               ng-class="WPT.name==='' ? 'invalid-input-data' :
               ('valid-input-data')"
        />
      </td>

      <td ng-show="!showForms"
          ng-class="WPT.easting>500000 ? 'invalid-input-data' :
               (WPT.easting>0.1 ? '' :
               ('invalid-input-data'))">
        {{WPT.easting}}
      </td>
      <td ng-show="showForms">
        <input class="edit-input" ng-model="WPT.easting"
               required
               ng-pattern="/^[0-9.]+$/"
               ng-minlength="1"
               ng-maxlength="6"
               ng-class="WPT.easting>500000 ? 'invalid-input-data' :
               (WPT.easting>0.1 ? 'valid-input-data' :
               ('invalid-input-data'))"
        />
      </td>

      <td ng-show="!showForms"
          ng-class="WPT.northing>10000000 ? 'invalid-input-data' :
               (WPT.northing>0.1 ? '' :
               ('invalid-input-data'))">
        {{WPT.northing}}
      </td>
      <td ng-show="showForms">
        <input class="edit-input" ng-model="WPT.northing"
               required
               ng-pattern="/^[0-9.]+$/"
               ng-minlength="1"
               ng-maxlength="7"
               ng-class="WPT.northing>10000000 ? 'invalid-input-data' :
               (WPT.northing>0.1 ? 'valid-input-data' :
               ('invalid-input-data'))"
        />
      </td>

      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="selected manipulation-col">
        <span ng-show="!showForms" class="glyphicon glyphicon-pencil clickable manipulation-icon"
              ng-click="showForms=true"></span>

        <span ng-show="!$first" ng-click="moveUp($index)"
              class="glyphicon glyphicon-arrow-up manipulation-icon clickable"></span>
        <span ng-show="!$last" ng-click="moveDown($index)"
              class="glyphicon glyphicon-arrow-down manipulation-icon clickable"></span>

        <span ng-show="showForms" showForms="false" class="glyphicon glyphicon-floppy-disk clickable"
              ng-click="saveChanges($index, WPT.name, WPT.easting, WPT.northing); showForms=false">
          <span class="icon-text"> SAVE</span>
        </span>
        <span ng-show="!showForms" class="glyphicon glyphicon-remove clickable manipulation-icon right"
              ng-click="removeRow($index)"></span>
      </td>
    </tr>
    </tbody>
  </table>
  <span ng-click="addNewWPT()" class="glyphicon glyphicon-plus clickable add-new-row-icon icon-text right"> ADD</span>
  <span class="clear"></span>

  <div class="scale-selector">
    <span>Scale selector</span>
    <div id="scale-slider"></div>
    <span class="chart-instruction">Double click on the chart to recenter.</span>
  </div>
  <svg class="track-main-view" ng-dblclick="recenterChart($event)">
  </svg>

  <footer>
    <div class="btn-group col-xs-12 panel-footer">
      <div class="col-xs-12">
        <button ng-click="clearTable()" type="button" class="btn btn-default btn-grey">Clear table</button>

        <button class="btn btn-default btn-grey import-export" role="menuitem">
          <a href="core/rigMoveCalculator/external/MAT001-RigMove.json">
            Download demo.json
          </a>
        </button>

        <button class="btn btn-default btn-grey import-export" role="menuitem">
          <a href="core/rigMoveCalculator/external/RigMoveCalculator.zip">
            Download desktop version
          </a>
        </button>
        <button class="btn btn-default btn-grey import-export" ng-click="exportToJSON()" role="menuitem">Export as
          JSON
        </button>
        <button class="btn btn-default btn-grey import-export" ng-click="importFromJSON()" role="menuitem">Import JSON
        </button>
        <input class="btn btn-default btn-grey import-export" id="select-file" type="file" accept="application/json">
      </div>
      <span class="clear"></span>
    </div>
  </footer>
</div>