.content {
  margin-top: -30px;
  margin-bottom: 0;
}

.content a {
  color: #FFF;
}

.content a:hover {
  color: #373737
}

.content .input-group {
  margin: 10px;
  width: 260px;
}

.content .table {
  width: 100%;
}

.content .table-header {
  font-size: 14px;
}

.content .grey {
  background-color: #F8F7FF;
}

.content .selectedRow {
  background-color: #333;
  color: #fff;
}

.content .invalid-input-data {
  background-color: #ffccb5;
}

.content .valid-input-data {
  background-color: #d2ffd4;
}

.btn-grey {
  background-color: #373737;
  color: #FFF;
  font-weight: bold;
  transition: all 500ms ease;
  margin-top: 10px;
}

input {
  transition: all 300ms ease;
}

.import-export {
  float: right;
}

.clickable:hover {
  cursor: hand;
  cursor: pointer;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.panel-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0;
  width: 100%;
  z-index: 9;
  min-height: 60px;
  border-top: solid 2px gray;
}